.contact-form {
    width: 45%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    
  }
  .contact-form  input[type=text], textarea, fieldset {
    width: 95%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
/* HEADER */

  .knockout {
    background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px;
    color: red;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 100px;
    font-family: arial, helvetica;
    width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  .header{
    margin-top: -50px;
      height: 200px;
      background: #444;
      text-align: center;
      line-height: 200px;
      border-radius: 5px;
      width: 100%
  }
  
  /* Add a black background color to the top navigation */
  .topnav {
      background-color: #333;
      overflow: hidden;
      border-radius: 5px;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: orange;
      color: white;
    }